.outermost-element
  %h1 
    Welcome, 
    = @user.first_name

  %h2
    My migrations
  
  .new-migration-from-member
    = link_to "New migration", new_migration_path

  = render 'migrations/index_table', migrations: @user.migrations
