$font: Georgia;
$font-color: #222222;
$csv-upload-form: #2d7258;
$table-border: #2d7258;
$migration-border: #2d7258;
$migration-border-thickness: 1.5px;
$parsed-rows-number: #e17a7a;
$header-assignment-info: #552eb8;
$background-clear-color: #b1f6f9;
$background-dark-color: #779bd0;

body {
  background: linear-gradient(to left, $background-clear-color, $background-dark-color);
  font-family: $font, serif;
  color: $font-color;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

h1 {
  letter-spacing: 0.6px;
}

input[type=submit] {
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.2em;
  font-family: Georgia, serif;
}

table {
  border-collapse: collapse;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  text-align: center;
  th, td {
    padding: 5px 7.5px;
    border: 1px solid $table-border;
    min-width: 90px;
  }
  select {
    background-color: #10015c;
    color: #d1d7d7;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
  }
}

#no-header-option {
  background-color: #e22727;
}

.outermost-element {
  padding-left: 20px;
  padding-right: 20px;
}

#main-header {
  background: linear-gradient(to left, #7459b9, #83d4b5);
  border-bottom-style: double;
  padding-bottom: 20px;
  #title {
    display: flex;
    align-items: center;
    #logo {
      display: inline-block;
      height: 50px;
      width: 50px;
      padding-right: 10px;
    }
  }
  #main-header-items {
    display: flex;
    letter-spacing: 2px;
    .main-header-item {
      padding-right: 20px;
    }
    #logout-item {
      margin-left: auto;
    }
  }
}

.login-page {
  text-align: center;
  form {
    display: inline-block;
    width: 400px;
  }
  div {
    padding: 20px;
  }
}

#log_in_fields {
  color: $background-clear-color;
  background-color: #42387b;
  border-radius: 10%;
}

#migration-info {
  display: flex;
  flex-direction: column;
  div {
    padding-bottom: 20px;
    font-size: 1.2em;
  }
}

#parsed-rows-number {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3em;
  font-weight: 600;
  color: #4d2626;
  background-color: $parsed-rows-number;
  text-align: center;
  border: 2px solid $header-assignment-info;
}

.header-assignment-info {
  font-size: 1.2em;
  padding: 30px;
  background-color: $header-assignment-info;
  color: #d1d7d7;
}

#migration-statistics {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
  border: 1px solid $migration-border;
  width: 725px;
  background-color: #eea892;
  color: #182373;
}

#total-record-stats, #pending-record-stats {
  border-right: $migration-border-thickness dashed $migration-border;
}

#total-record-stats {
  width: 130px;
}

.stat-main-title {
  border-bottom: $migration-border-thickness dashed $migration-border;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  div {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

#migration-stats-total-records {
  padding-top: 15px;
}

.stat-main-col {
  padding-left: 15px;
  padding-right: 15px;
}

.parent-of-table {
  overflow-x: scroll;
}

#pending-records {
  border-top: 1px dashed $font-color;
  padding-top: 10px;
  padding-bottom: 15px;
}

#finalized-records {
  border-top: 1px dashed $font-color;
}

.finalized-table-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin status-circle($color, $radius) {
  height: $radius;
  width: $radius;
  background-color: $color;
  border-radius: 50%;
  display: inline;
  margin-right: 10px;
  box-shadow: 0 0 4px 3px $color;
}

.pending-circle {
  @include status-circle($color: #ddd763, $radius: 20px);
}

.issues-circle {
  @include status-circle($color: #e22727, $radius: 10px);
}

.valid-circle {
  @include status-circle($color: #3fd01f, $radius: 10px);
}

.accepted-circle {
  @include status-circle($color: #191cef, $radius: 20px);
}

.rejected-circle {
  @include status-circle($color: #050720, $radius: 20px);
}

.table-title-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 50px;
}

.new-migration-from-member {
  font-size: 1.2em;
  padding-bottom: 25px;
}

.show-patient-table {
  box-shadow: none;
  font-size: 1em;
  text-align: left;
  th, td {
    padding: 5px 7.5px;
    border: none;
    min-width: 90px;
  } 
}

#csv-upload-form {
  width: 400px;
  background-color: $csv-upload-form;
  border-radius: 5%;
  box-shadow: 0 0 1px 1px $csv-upload-form;
}

#csv-upload-prompt {
  margin-bottom: 20px;
}

.csv-form-element {
  color: white;
  padding: 15px;
}

#csv-submit {
  text-align: center;
}

input[type=text] {
  min-width: 200px;
}

#record-warning-show-import-row {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #8d1b1b;
  border-radius: 3%;
  color: #d1d7d7;
  width: 400px;
}

#show-import-row {
  div {
    padding-bottom: 15px;
    font-size: 1.2em;
  }
}