%h1
  Migration show page

%div 
  The original CSV:
  = link_to @migration.csv_file.file_blob.filename, rails_blob_path(@migration.csv_file.file, disposition: 'attachment')

- if @migration.status == :assigning_headers
  = render 'migrations/assign_headers'

- elsif @migration.status == :in_progress
  = render 'migrations/in_progress'
