%h1
  Migration show page

= render 'migrations/header'

- if @migration.status == :assigning_headers
  = render 'migrations/assign_headers'

- elsif @migration.status == :in_progress
  = render 'migrations/in_progress'

- elsif @migration.status == :completed
  = render 'migrations/finalized_records'
